/*Style.css*/

body{ color: #000000; background: #000000; }
span{ display: block; }


#lens1 {
  background-image: url("lens.png");
  position: absolute;
  width:  23px;
  height: 71px;
  left: 100px;
  top: 150px;

}
#lens2 {
  background-image: url("lens.png");
  position: absolute;
  width:  23px;
  height: 71px;
  left: 200px;
  top: 150px;
}

#lens3 {
  /*background-color: white;*/
  background-image: url("lens.png");
  position: absolute;
  width:  23px;
  height: 71px;
  left: 300px;
  top: 150px;
}

#beam1 {
  background-color: white;
  position: absolute;
  width:  100px;
  height: 5px;
  left: 0px;
  top: 300px;
  opacity:0.90;
}
#beam2 {
  background-color: white;
  position: absolute;
  width:  100px;
  height: 5px;
  left: 100px;
  top: 300px;
  opacity:0.80;
}
#beam3 {
  background-color: white;
  position: absolute;
  width:  100px;
  height: 5px;
  left: 200px;
  top: 300px;
  opacity:0.70;
}
#beam4 {
  background-color: white;
  position: absolute;
  width:  400px;
  height: 5px;
  left: 300px;
  top: 300px;
  opacity:0.6;
}




.finalLight{
  background-color: white;
  position: absolute;
  width:  0;
  height: 0;
  left: 740px;
  top: 1px;
  opacity:0.4;
  border-color: black white black;
  border-style: solid;
  border-width: 300px 500px 300px 0px;

}

.prism {
  /*background-color: white;*/
  background-image: url("prism.png");
  position: absolute;
  width:  124px;
  height: 86px;
  left: 660px;
  top: 260px;
}


#menu1 {
  background-color: white;
  position: absolute;
  width:  23px;
  height: 71px;
  left: 100px;
  top: 150px;
  border-color: black white black;
  border-style: solid;
  border-width: 300px 500px 300px 0px;

}




