/*Style.css*/

body{ color: #000000; background: #000000; }
span{ display: block; }


#lens1 {
  background-image: url("lens.png");
  position: absolute;
  width:  90px;
  height: 282px;
  left: 300px;
  top: 400px;

}
#lens2 {
  background-image: url("lens.png");
  position: absolute;
  width:  90px;
  height: 282px;
  left: 600px;
  top: 400px;
}

#lens3 {
  /*background-color: white;*/
  background-image: url("lens.png");
  position: absolute;
  width:  90px;
  height: 282px;
  left: 900px;
  top: 400px;
}

#beam1 {
  background-color: white;
  position: absolute;
  width:  300px;
  height: 20px;
  left: 0px;
  top: 900px;
  opacity:0.90;
}
#beam2 {
  background-color: white;
  position: absolute;
  width:  300px;
  height: 20px;
  left: 300px;
  top: 900px;
  opacity:0.80;
}
#beam3 {
  background-color: white;
  position: absolute;
  width:  300px;
  height: 20px;
  left: 600px;
  top: 900px;
  opacity:0.70;
}
#beam4 {
  background-color: white;
  position: absolute;
  width:  2000px;
  height: 20px;
  left: 900px;
  top: 900px;
  opacity:0.6;
}




.finalLight{
  background-color: white;
  position: absolute;
  width:  0;
  height: 0;
  left: 2930px;
  top: 105px;
  opacity:0.4;
  border-color: black white black;
  border-style: solid;
  border-width: 800px 2000px 800px 0px;

}

.prism {
  /*background-color: white;*/
  background-image: url("prism.png");
  position: absolute;
  width:  494px;
  height: 344px;
  left: 2600px;
  top: 735px;
}




